[Car0]
object = tren\Traxx\Bogie.animated
length = 5.04
[car1]
object = tren\Traxx\locomotora.animated
length = 19
[Car2]
object = tren\Traxx\Bogie.animated
length = 5.5
;---------------------------------------------------------------
[Car3]
object = tren\Bogie.animated
length = 5.2
[car4]
object = tren\comedores\bar.animated
length = 19
[Car5]
object = tren\Bogie.animated
length = 5.2
;---------------------------------------------------------------
[car6]
Object = Tren\Bogie.animated
Length = 5.2
[car7] 
object = tren\pullman\pullman 2.animated
length = 19
[car8]
Object = Tren\Bogie.animated
Length = 5.2
;---------------------------------------------------------------
[car9]
Object = Tren\Bogie.animated
Length = 5.2
[car10]
object = tren\pullman\pullman.animated
length = 19
[car11]
Object = Tren\Bogie.animated
Length = 5.2
;---------------------------------------------------------------
[car12]
Object = Tren\Bogie.animated
Length = 5.2
[car13]
object = tren\comedores\restaurant.animated
length = 19
[car14]
Object = Tren\Bogie.animated
Length = 5.2
;---------------------------------------------------------------
[car15]
Object = Tren\Bogie.animated
Length = 5.2
[car16]
object = tren\Camas vip\Lx.animated
length = 19
[car17]
Object = Tren\Bogie.animated
Length = 5.2
;---------------------------------------------------------------
[car18]
Object = Tren\Bogie.animated
Length = 5.2
[car19]
object = tren\camas vip\Lx 2.animated
length = 19
[car20]
Object = Tren\Bogie.animated
Length = 5.2
;---------------------------------------------------------------
[car21]
Object = Tren\Bogie.animated
Length = 5.2
[car22]
object = tren\furgon\vagon.animated
length = 17
[car23]
Object = Tren\Bogie.animated
Length = 5.2

;===============================================================

[Coupler0]
Distances = -6.5, -6.5
[Coupler1]
Distances = -6.9, -6.9
[Coupler2]
Distances = 3.9, 3.9
;----------------------------------------------------------------
[Coupler3]
Distances = -3.6, -3.6
[Coupler4]
Distances = -3.4, -3.4
[Coupler5]
Distances = 3, 3
;----------------------------------------------------------------
[Coupler6]
Distances = -3.6, -3.6
[Coupler7]
Distances = -3.4, -3.4
[Coupler8]
Distances = 3.15, 3.15
;----------------------------------------------------------------
[Coupler9]
Distances = -3.6, -3.6
[Coupler10]
Distances = -3.4, -3.4
[Coupler11]
Distances = 3.15, 3.15
;----------------------------------------------------------------
[Coupler12]
Distances = -3.6, -3.6
[Coupler13]
Distances = -3.4, -3.4
[Coupler14]
Distances = 3.15, 3.15
;----------------------------------------------------------------
[Coupler15]
Distances = -3.6, -3.6
[Coupler16]
Distances = -3.4, -3.4
[Coupler17]
Distances = 3.15, 3.15
;----------------------------------------------------------------
[Coupler18]
Distances = -3.6, -3.6
[Coupler19]
Distances = -3.4, -3.4
[Coupler20]
Distances = 3.15, 3.15
;----------------------------------------------------------------
[Coupler21]
Distances = -3.6, -3.6
[Coupler22]
Distances = -3.4, -3.4